[language-server.expert]
command = "expert"

[language-server.nextls]
command = "nextls"
args = ["--stdio=true"]

[language-server.ltex]
command = "ltex-ls"

[language-server.hx-lsp]
command = "hx-lsp"

[[language]]
name = "elixir"
scope = "source.elixir"
file-types = ["ex", "exs"]
shebangs = ["elixir"]
roots = ["mix.exs"]
auto-format = true
diagnostic-severity = "hint"
comment-token = "#"
indent = {tab-width = 2, unit = " "}
language-servers = ["expert", "hx-lsp"]

[[language]]
name = "heex"
language-servers = ["expert"]

[[language]]
name = "markdown"
language-servers = ["ltex", "marksman"]
file-types = ["md", "txt"]
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"]}
scope = "text.markdown"
roots = []
soft-wrap = { enable = true, wrap-at-text-width = true }
text-width = 80

[[language]]
name = "git-commit"
language-servers = ["ltex", "marksman"]
scope = "text.markdown"
soft-wrap = { enable = true, wrap-at-text-width = true }
text-width = 80

[[language]]
name = "git-pull-request"
file-types = [{ glob = ".git/PULLREQ_EDITMSG" }]
language-servers = ["ltex", "marksman"]
scope = "text.markdown"
soft-wrap = { enable = true, wrap-at-text-width = true }
text-width = 80
