[user]
  name = Johan Tell
  email = johan@mintcore.se

[push]
  default = simple
  followTags = true

[pull]
  rebase = true

[alias]
  p = push-origin-or-fork
  pushb = "!f() { git push -u origin $(git current-branch); }; f"
  current-branch = rev-parse --abbrev-ref HEAD
  co = checkout
  amend = commit -v --amend
  c = commit -v
